.carousel-item{
    height: 40rem;
    background: #777;
    
    position: relative;
    background-position: center;
    background-size:cover;
}

.container.car{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
}

.first{
    color: #5C6065;
    
}
.second{
    color: white;
}
.third{
    color: #5C6065;
}
.first >.container{
    right: -100%;
}
.second >.container{
    right: -100%;
}
.third >.container{
    right: -100%;
}

#trn{
    background-color: #50575D;
    opacity: 0.8;
   /* background:transparent !important;*/
    z-index: 99;
}
#myCarousel{
    margin-top: -83px;
    
}


  