@media (max-width :575px){
    .log-reg{
        position: center;
    }
    .first >.container{
        right: -10%;
        top: 15%;
    }
    .second >.container{
        right: -10%;
        top: 15%;
    }
    .third >.container{
        right: -10%;
        top: 15%;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px){ 
    .log-reg{
        position: center;
    }
    .first >.container{
        right: -100%;
        top: 15%;
    }
    .second >.container{
        right: -100%;
        top: 15%;
    }
    .third >.container{
        right: -100%;
        top: 15%;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){ 
    .log-reg{
        position: center;
    }
    .first >.container{
        right: -100%;
        top: 15%;
    }
    .second >.container{
        right: 0;
        top: 15%;
    }
    .third >.container{
        right: -100%;
        top: 15%;
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){ 
    .navbar-nav.navbar-center {
        position: absolute;
        left: 30%;
        transform: translatex(-30%);
    }
    .form-inline{
        position: absolute;
        left: 75%;
        transform: translatex(-75%);
    }
    .log-reg{
        position: absolute;
        right: 0;
        transform: translatex(0);
    }
    .first >.container{
        right: -100%;
        top: 15%;
    }
    .second >.container{
        right: 0;
        top: 15%;
    }
    .third >.container{
        right: -100%;
        top: 15%;
    }
    .grid{
        grid-gap: 5vw;
    }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 2559px)
{ 
    .navbar-nav.navbar-center {
        position: absolute;
        left: 45%;
        transform: translatex(-45%);
    }
    .form-inline{
        position: absolute;
        left: 80%;
        transform: translatex(-85%);
    }
    .log-reg{
        position: absolute;
        right: 5%;
        transform: translatex(5%);
    }
    
    .first >.container{
        right: -100%;
        top: 15%;
    }
    .second >.container{
        right: 0;
        top: 15%;
    }
    .third >.container{
        right: -100%;
        top: 15%;
    }
}

@media (min-width : 2560px)
{
    .navbar-nav.navbar-center {
        position: absolute;
        left: 45%;
        transform: translatex(-50%);
    }
    .form-inline{
        position: absolute;
        left: 80%;
        transform: translatex(-85%);
    }
    .log-reg{
        position: absolute;
        right: 5%;
        transform: translatex(5%);
    }
    .first >.container{
        right: -100%;
        top: 15%;
    }
    .second >.container{
        right: 0;
        top: 15%;
    }
    .third >.container{
        right: -100%;
        top: 15%;
    }
}